
@model IEnumerable<Biblioteca.Models.Book>
@{
    ViewBag.Title = "Index";
}



<h1>Livros</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.Isbn)</th>
            <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.Titulo)</th>
            <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.Categoria.Nome)</th>
            <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.Autor)</th>
            <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.NumeroPaginas)</th>
            <th>Ações</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Isbn)</td>
                <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
                <td>@Html.DisplayFor(modelItem => item.Categoria.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.Autor)</td>
                <td>@Html.DisplayFor(modelItem => item.NumeroPaginas)</td>
                <td>
                    <button class="btn btn-secundary" onclick="location.href = '@(Url.Action("Details", "Book", new { id = item.Id }))'"> Detalhes</button>
                    <button class="btn btn-primary" onclick="location.href = '@(Url.Action("Edit", "Book", new { id = item.Id }))'"> Editar</button>
                    <button class="btn btn-danger" onclick="location.href = '@(Url.Action("Remove", "Book", new { id = item.Id }))'"> Remover</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-lg btn-success" onclick="location.href = '@(Url.Action("New", "Book"))'">
    Criar Novo
</button>


