@model Biblioteca.Models.Categoria


<div class="row row-details">
    <div class="col-sm-8">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan="2">
                        <h4 style="display: inline-block;">Informações da categoria</h4>
                        <button style="display: inline-block;" class="btn btn-primary pull-right" onclick="location.href = '@(Url.Action("Edit", "Categoria", new { id = Model.Id }))'">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nome):</th>
                    <td>@Html.DisplayFor(model => model.Nome)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Descricao):</th>
                    <td>@Html.DisplayFor(model => model.Descricao)</td>
                </tr>

            </tbody>
        </table>
        <button class="btn btn-danger pull-right" onclick="location.href = '@(Url.Action("Remove", "Categoria", new { id = Model.Id }))'">Excluir</button>
    </div>
</div>