@model IEnumerable<Biblioteca.Models.Exemplar>

<h1>Clientes</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.Id)</th>
            <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.Book.Titulo)</th>
            <th>Ações</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Book.Titulo)</td>
                <td>
                    <button class="btn btn-secundary" onclick="location.href = '@(Url.Action("Details", "Exemplar", new { id = item.Id }))'"> Detalhes</button>
                    <button class="btn btn-primary" onclick="location.href = '@(Url.Action("Edit", "Exemplar", new { id = item.Id }))'"> Editar</button>
                    <button class="btn btn-danger" onclick="location.href = '@(Url.Action("Remove", "Exemplar", new { id = item.Id }))'"> Remover</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-lg btn-success" onclick="location.href = '@(Url.Action("New", "Exemplar"))'">
    Criar Novo
</button>
