@model Biblioteca.Models.Cliente


<div class="row">
    <div class="col-sm-8">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan="2">
                        <h4 style="display: inline-block;">Informações do cliente</h4>
                        <button style="display: inline-block;" class="btn btn-primary pull-right" onclick="location.href = '@(Url.Action("Edit", "Cliente", new { id = Model.Id }))'">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Nome):</th>
                    <td>@Html.DisplayFor(model => model.Nome)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Email):</th>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Cpf):</th>
                    <td>@Html.DisplayFor(model => model.Cpf)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.DataNascimento):</th>
                    <td>@Html.DisplayFor(model => model.DataNascimento)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Senha):</th>
                    <td>@Html.DisplayFor(model => model.Senha)</td>
                </tr>


            </tbody>
        </table>
        <button class="btn btn-danger pull-right" onclick="location.href = '@(Url.Action("Remove", "Cliente", new { id = Model.Id }))'">Excluir</button>
    </div>
</div>

