@model Biblioteca.Models.Cliente

@using (Html.BeginForm("Save", "Cliente"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-container">
        <h2>Informações do cliente</h2>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cpf, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Cpf, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Cpf)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataNascimento, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.DataNascimento, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DataNascimento)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Senha, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Senha, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Senha)
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
